@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


*{
  outline: none;
  /* -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
svg {
  height: 1rem;
}
html{
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0px;
}
body {
  --cbl: #1FB4FA;
  --cbd: #2F85AD;

  --crl: #FA5066;
  --crd: #AD2638;

  --cyl: #FAFFE8;
  --cyd: #FAF469;

  --cgl: #11d48a;
  --cgn: #01a365;
  --cgd: #087249;

  --col: #f5a54f;
  --con: #fda241;
  --cod: #f58f1b;

  --cbd: #411010;

  --fsss: 'Sora', sans-serif;
  --fssp: 'Poiret One', sans-serif;
  --fsc: 'Cinzel', serif;
  --fsr: 'Rubik', sans-serif;
  --fsd: 'Dancing Script', cursive;

  --xxsf: clamp(0.6rem, 2vw, 0.8rem);
  --xsf: clamp(0.8rem, 2vw, 1rem);
  --sf: clamp(1rem, 2vw, 1.2rem);
  --mf: clamp(1.2rem, 2vw, 1.5rem);
  --bf: clamp(2.5rem, 6vw, 4rem);
  --xbf: clamp(3.5rem, 6vw, 5rem);
  

  font-family: var(--fsr);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
